<%=record%>
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>내용보기</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.wrapper{
	width:500px;
	border:2px solid blue;
	background:yellow;
	margin:auto;
	text-align:center;
}
.wrapper input, textarea{
	width:98%;
	margin:2px 0px;
}
textarea{
	height:300px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(function(){
	$("button").click(function(){
	});
});

function del(){
	if(confirm("삭제하시겠습니까?")){
		//서버에 삭제를 요청!!
		location.href="/del?notice_id=<%=record[0]%>"; // html tag에서 a태그와 동일!!
	}
}

function edit(){
	if(confirm("작성한 내용으로 수정하실래요?")){
		//서버에 수정을 요청!!
		form1.action="/edit";//요청url
		form1.submit();//전송 발생!! 
	}
}
</script>
</head>
<body>
	<div class="wrapper">
		<form name="form1" method="post">
			<input type="hidden" name="notice_id" value="<%=record[0]%>">
			<div>
				<input type="text" placeholder="작성자입력" name="writer" value="<%=record[1]%>">
			</div>
			<div>
				<input type="text" placeholder="제목입력" name="title"  value="<%=record[2]%>">
			</div>
			<div>
				<textarea name="content"><%=record[3]%></textarea>
			</div>
			<div>
			</div>
		</form>
		<button type="button" onClick="edit()">수정</button>
		<button type="button" onClick="del()">삭제</button>
		<button type="button" onClick="location.href='/list';">목록</button>
	</div>
</body>
</html>
