<%="currentPage is "+pm.currentPage%><br>
<%="totalRecord is "+pm.totalRecord%><br>
<%="pageSize is "+pm.pageSize%><br>
<%="totalPage is "+pm.totalPage%><br>
<%="blockSize is "+pm.blockSize%><br>
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
a{text-decoration:none;}
.numStyle{
	font-size:25px;
	color:blue;
	font-weight:bold;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

</script>
</head>
<body>
	<table border="1px" width="100%">
		<thead>
			<caption>공지 게시판</caption>
		</thead>
		<tbody>
			<tr>
				<th width="5%">No</th>			
				<th width="15%">작성자</th>
				<th width="60%">제목</th>
				<th width="15%">작성일</th>
				<th width="5%">조회수</th>
			</tr>
			<%for(var i=0;i<pm.pageSize;i++){%>
			<%if(pm.num<1)break;%>
			<tr>
				<td><%=pm.num%></td>
				<td>홍길동</td>
				<td>제목입니다</td>
				<td>2018-08-04</td>
				<td>34</td>
			</tr>
			<%pm.num--;%>
			<%}%>
			
			<tr>
				<td colspan="5" align="center">
					
					<%if(pm.firstPage-1>1){%>
						<a href="/list?currentPage=<%=pm.firstPage-1%>">◀</a>
					<%}else{%>
						<a href="javascript:alert('처음페이지 입니다');">◀</a>
					<%}%>

					<%for(var i=pm.firstPage;i<=pm.lastPage;i++){%>
						<%if(i>pm.totalPage)break;%>
						<a  <%if(pm.currentPage==i){%>class="numStyle"<%}%>  href="/list?currentPage=<%=i%>">[<%=i%>]</a>
					<%}%>
					
					<%if(pm.lastPage+1 < pm.totalPage){//더 볼게있다면...%>
						<a href="/list?currentPage=<%=pm.lastPage+1%>">▶</a>
					<%}else{%>	
						<a href="javascript:alert('마지막 페이지입니다');">▶</a>
					<%}%>

				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
